<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}Welcome!{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
  <script type="text/javascript" src="{{ asset('js/jquery-1.4.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/jquery-func.js') }}"></script>
  <link rel="shortcut icon" href="{{ asset('css/images/favicon.ico') }}">
  <link rel="icon" type="image/gif" href="{{ asset('css/images/favicon.ico') }}">
  <!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
  <!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
  <div id="shell">
    <div id="header">
      <div class="social"> <span>FOLLOW US ON:</span>
        <ul>
          <li><a class="twitter" href="#">twitter</a></li>
          <li><a class="facebook" href="#">facebook</a></li>
          <li><a class="vimeo" href="#">vimeo</a></li>
          <li><a class="rss" href="#">rss</a></li>
        </ul>
      </div>
      <div id="navigation">
        <ul>
          <li><a class="active" href="#">HOME</a></li>
          <li><a href="#">NEWS</a></li>
          <li><a href="#">IN THEATERS</a></li>
          <li><a href="#">COMING SOON</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">ADVERTISE</a></li>
        </ul>
      </div>
      <div id="sub-navigation">

      </div>
    </div>
    <div id="main">
      <div id="content">
        {% block body %}

        {% endblock %}

        <div class="cl">&nbsp;</div>
      </div>
    <div id="footer">
      <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</body>
</html>
