<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}Welcome!{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
  <script type="text/javascript" src="{{ asset('js/jquery-1.4.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/jquery-func.js') }}"></script>
  <link rel="shortcut icon" href="{{ asset('css/images/favicon.ico') }}">
  <link rel="icon" type="image/gif" href="{{ asset('css/images/favicon.ico') }}">
  <!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
  <!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
  <div id="shell">
    <div id="header">
      <div class="social"> <span>FOLLOW US ON:</span>
        <ul>
          <li><a class="twitter" href="#">twitter</a></li>
          <li><a class="facebook" href="#">facebook</a></li>
          <li><a class="vimeo" href="#">vimeo</a></li>
          <li><a class="rss" href="#">rss</a></li>
        </ul>
      </div>
      <div id="navigation">
        <ul>
          <li><a class="{% if app.request.attributes.get('_route') == 'app_dashboard_index' %}active{% endif %}" href="/">HOME</a></li>
          {% if is_granted('ROLE_USER') %}
          <li><a href="/account" class="{% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}">MY ACCOUNT</a></li>
          <li><a href="/logout">LOGOUT</a></li>
          {% else %}
          <li><a href="/login" class="{% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}">LOGIN</a></li>
          <li><a href="/register" class="{% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %}">REGISTER</a></li>
          {% endif %}
        </ul>
      </div>
      <div id="sub-navigation" style="border-top:1px; border-bottom:1px;">

      </div>
    </div>
    <div id="main">
      <div id="content">
        {% block body %}

        {% endblock %}

        <div class="cl">&nbsp;</div>
      </div>
    <div id="footer">
      <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</body>
</html>
